<!DOCTYPE html>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
    </p>
    <form const libro=req.body.libro; const lanzamiento=req.body.lanzamiento; const editorial=req.body.editorial; const
      autor=req.body.autor const origen=req.body.origen const tipo=req.body.tipo const isbn=req.body.isbn const
      idioma=req.body.idioma const apto=req.body.idioma>

    </form>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<!DOCTYPE /html>


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=}, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/" method="POST">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre" required>

    <label for="a単o de salida">A単o de salida: </label>
    <input type="number" name="a単o de saida" id="A単oDeSalida" required>

    <label for="autor">Autor: </label>
    <input type="text" name="autor" id="autor" required>

    <label for="editorial">editorial: </label>
    <input type="text" name="editorial" id="editorial" required>

    <label for="idioma">idioma: </label>
    <input type="text" name="idioma" id="idioma" require>

    <label for="apto para">apto para: </label>
    <input type="number" name="apto para" id="aptoPara" required> 

    <label for="origen">origen: </label>
    <input type="text" name="origen" id="origen" required>



    <input type="submit" value="guardar">

  </form>

</body>

</html>